@model i1.Models.Indice

@{
    ViewBag.Title = "Details of Index";
    Layout = "~/Views/Indice/Layout.cshtml";
}

<h2>Details of Index</h2>

<fieldset>
    <legend>Index</legend>

    <div class="display-label">IndexId</div>
    <div class="display-field">@Model.IndexId</div>

    <div class="display-label">IndexName</div>
    <div class="display-field">@Model.IndexName</div>

    <div class="display-label">FundName</div>
    <div class="display-field">@Model.IndexInsertionDate</div>

    <div class="display-label">FundPrice</div>
    <div class="display-field">@String.Format("{0:g}", Model.IndexInsertionDate)</div>

    <div class="display-label">LoginId</div>
    <div class="display-field">@Model.LoginId</div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", @Model) |
    @Html.ActionLink("Back to List", "Index")
</p>

