<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>
                    Index Services
                </h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Indices", "Index", "Indice")</li> 
                    <li>@Html.ActionLink("Stocks", "Index", "Stocks")</li> 
                    <li>@Html.ActionLink("Index Monitor", "Details", "Monitor")</li> 
                </ul>
            </div>
        </div>

        <div id="main">
        @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
