@model i1.Models.Rule1

@{
    ViewBag.Title = "Edit Rule";
    Layout = "~/Views/Rule/Layout.cshtml";
}

<h2>Edit Rule</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit this Rule</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RuleId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RuleId)
            @Html.ValidationMessageFor(model => model.RuleId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RuleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RuleName)
            @Html.ValidationMessageFor(model => model.RuleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RuleExpression)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RuleExpression)
            @Html.ValidationMessageFor(model => model.RuleExpression)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RuleStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RuleStatus)
            @Html.ValidationMessageFor(model => model.RuleStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RuleCreationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RuleCreationDate)
            @Html.ValidationMessageFor(model => model.RuleCreationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FundId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FundId)
            @Html.ValidationMessageFor(model => model.FundId)
        </div>

       <!-- <div class="editor-label">
            @Html.LabelFor(model => model.LoginId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoginId)
            @Html.ValidationMessageFor(model => model.LoginId)
        </div>
        -->
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

